<!doctype html>
<html lang="es" ng-app="todoApp">
  <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de tareas</title>
    <script src="js/angular.min.js"></script>
    <script src="js/todo.js"></script>
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/flat-ui.css">

  </head>
  <body>
    <div ng-controller="TodoCtrl">
		<h2>Lista</h2>
		  
      <form ng-submit="addTodo()">
        <label for="todoText">Nueva tarea</label>
        <input id="todoText" type="text" ng-model="todoText"  size="30"
               placeholder="Añade una nueva tarea">
        <input class="btn btn-primary" type="submit" value="Añadir">
      </form>
	  
	  <form>
		<input id="show_hide_info" class="btn btn-primary" value="Mostrar toda la lista" type="button" onclick="return showLista()">
	  </form>
	  
	  <div id="contenedor" class="contenedor">	
			<span>{{remaining()}} de {{todos.length}} tareas</span>
			  [ <a href="" ng-click="borrar()">Borrar</a> ]
			  <ul class="unstyled">
				<li ng-repeat="todo in todos">
				  <input type="checkbox" ng-model="todo.done" aria-label="Completar {{todo.text}}">
				  <span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			  </ul>
		</div>
    </div>
  </body>
</html>
